@use 'vars' as *;

mat-card.book-card {
  display: inline-block;
  margin: 0 $default-padding;
  padding: $default-padding;
  width: $card-width;
  height: $card-height;

  mat-card-header {
    padding: 0;
    width: $card-header-width;
    height: $card-header-height;

    .label {
      width: $card-header-width;
      height: $card-header-height;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  mat-card-content {
    padding: 0;
    .image {
      width: $card-image-width;
      height: $card-image-height;
    }
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: $card-footer-height;
  }
}
