@use 'vars' as *;

.library-container {
  padding: 2 * $default-padding;

  .letters-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: $default-padding;
    align-items: start;

    h1.link {
      a.active {
        text-decoration: none;
        font-weight: normal;
      }
    }
  }

  .authors-container {
    margin-top: $default-padding;
  }
}
