@use 'vars' as *;

.container {
  .book-cards {
    margin: $default-padding 0;
    padding: $default-padding 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
