@use 'vars' as *;

:host {
  width: 100%;
  display: flex;
  align-items: center;
  height: $header-height;
  gap: $default-padding;

  button {
    border-radius: $default-border-radius;
  }

  section.side {
    display: flex;
    justify-content: center;
    width: $main-menu-width;
    padding: $default-padding;

    a {
      display: flex;
      justify-content: center;

      img {
        height: $header-height - $default-padding;
      }
    }
  }

  section.main {
    display: flex;
    align-items: center;
    gap: $default-padding;
  }
}
