<ng-container>
  <section class="side">
    <button
      mat-fab
      extended
      color="success"
      matTooltip="Показать главное меню"
      matTooltipPosition="below"
      matTooltipShowDelay="1500"
      (click)="menuClick.emit()">
      <mat-icon>menu</mat-icon>
      Меню
    </button>
  </section>
  <section class="main">
    <player-button *ngIf="showPlayerButton$ | async"></player-button>
    <a href="/"
      ><img src="assets/images/book-play.ru.png" alt="Book-play.ru"
    /></a>
  </section>
</ng-container>
